nav{
    #btn{
        display:flex;
        align-content: center;
        justify-content: center;
    align-items: center;
        height:5.8vh;
    }
}
.table{
    display:grid;
    grid-template-columns:15% 15% 15% 15%;
    justify-content: center;
    align-items: center;
    grid-gap:2%;
   margin-top:2%;

    div button{
        width:100%;
        height:15vh;
    }
    
  }
@media(max-width:730px){
    nav{
        #btn{
            height:5vh;
        }
    }
    .table{
grid-template-columns:40% 40%;
div button{
    height:50%;
}
    }
}
   
